.git
.github
.vscode
.idea

/target
/frontend/node_modules
/frontend/.dev-dist

/data*
/.env
/webcodex.env
/agent.toml
/projects.d

/docs-local-archive
/docs-generated
/docs-tmp
/site
/ignore

*.patch
*.log
.DS_Store
